@{
    ViewBag.Title = "cart";
    Layout = "~/Views/Shared/_LayooutUser.cshtml";
}

    <html lang="en">
    <head>
        <title>Bootstrap Example</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
        <style>
            .section {
                margin: 200px;
                margin-left: 160px;
            }

            h3 {
                color: #ffb606;
                font-weight: bold;
                margin-left: 50px;
            }

            p {
                color: black;
                font-weight: bold;
                margin-left: 100px;
            }

            btn {
                margin: 200px;
            }
        </style>
    </head>
    <body>

        <div class="w3-container">
            <center><h2>Sign Up</h2></center>
            <center>
                <p>jhbfdhd</p>
            </center>
            <center>
                <p>jhbfdhd</p>
            </center>

        </div>
        <div class="w3-container">

            <h3>Your Cart</h3>

        </div>

        <div class="container">
         
            <table class="table table-striped">



                @{
                    var total = 0;

                    DB25E obj = new DB25E();
                    var it = obj.FoodItems.ToList();

                    foreach (var item in ViewBag.c)
                    {

                        foreach (var i in it)
                        {
                            if (i.FoodId == @item.iid)
                            {
                                var amount = @item.iqty * @i.Price;

                                <tr>
                                    <th>Item</th>
                                    <td>
                                        @i.FoodName
                                    </td>
                                    <th>Price</th>

                                    <td>
                                        @i.Price
                                    </td>
                                    <th>Quantity</th>

                                    <td>
                                        @item.iqty
                                    </td>
                                </tr>
                                total += amount;
                            }
                        }


                    }
                    if (total == 0)
                    {
                        <h7>Your cart is empty</h7>
                    }
                    else
                    {
                        <tr>
                            <td></td>
                            <td></td>
                            <td><h5>Total</h5></td>
                            <td><h5>@total</h5></td>
                           
                           
                            <td>@Html.ActionLink("Generate Bill", "Bill", "Order")</td>
                           
                        </tr>


                    }

                }
            </table>

        </div>
        
       @Html.ActionLink("Menu", "ShowProducts") ;
    </body>

</html>